/************************************************/
/*                    BASIC                     */
/************************************************/
* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;

    &:focus {
        border: none;
    }
}

html {
    scroll-behavior: smooth;
    text-rendering: optimizeLegibility;

    max-height: 100%;
    overflow-x: hidden;
}

.wrapper {
    max-width: 1180px;
    margin: 0 auto;
}

body {
    background-color: var(--bg-color);
    color: var(--font-color);
}

/************************************************/
/*                   REUSABLE                   */
/************************************************/
button {
    padding: 10px 20px;
    border-radius: 15px;
    font-size: 20px;
    background-color: var(--button-bg-color);
    color: var(--font-color);
    text-transform: uppercase;
    border: 0;

    &:not(:last-of-type) {
        margin-right: 10px;
    }
}

/************************************************/
/*                     BASE                     */
/************************************************/
#base-panel {
    padding: 40px;
    background-color: var(--base-color);
    border-radius: 20px;
}

/************************************************/
/*                    HEADER                    */
/************************************************/
header {
    padding: 20px;
    background: rgb(0, 1, 87);
    background: radial-gradient(
        circle,
        rgba(0, 1, 87, 1) 14%,
        rgba(51, 2, 91, 1) 44%,
        rgba(48, 48, 50, 1) 78%
    );
    border-radius: 10px;
}

header input {
    padding: 10px;
    margin-right: 10px;
    font-size: 20px;
    width: 400px;
    border-radius: 10px;
}
